/*html reset*/
*{
  margin: 0;
  padding: 0;
}
html, body{
  width: 100%;
  height: 100%;
}

/*cesium reset*/
.cesium-performanceDisplay-defaultContainer{
  top: 30px !important;
  right: 15px !important;
}
.cesium-viewer-bottom{
  display: none !important;
}

/*container*/
.container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.map{
  height: 100%;
}

.info{
  position: fixed;
  top: 30px;
  left: 15px;
  z-index: 999;
  display: flex;
  flex-direction: column;
  color: #de3;
  background-color: rgba(40,40,40,.7);
  padding: 7px;
  border-radius: 5px;
  border: 1px solid #444;
  font: bold 12px sans-serif;
}

.action{
  position: fixed;
  width: 100%;
  bottom: 50px;
  display: flex;
  justify-content: center;
  color: aliceblue;
  font: bold 12px sans-serif;
}

.action-btn{
  background-color: rgba(40,40,40,.7);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #444;
  margin:  0 7px;
}

.action-btn.active{
  color: #de3;
}